.container-tickets {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $tickets-bg;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.status-title {
  color: $tickets-font-color;
  font-size: 1rem;
}
