<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/0qvBNep1Y04);">
  <div class="container">
    <h2>Bienvenue sur Redyours !</h2>
    <p>Veuillez vous connecter pour avoir accès au dashboard de vos tickets !</p>
    <a class="btn btn-flat" href="#">Connectez-vous</a>
  </div>
</div>
