<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/0qvBNep1Y04);">
  <div class="container">
    <h2>Welcome on Redyours !</h2>
    <p>Please login to go check all your tickets !</p>
    <%= link_to 'Login', tickets_path, class: 'btn btn-flat'  %>
  </div>
</div>
