<h1>Tickets dashboard</h1>
<div class="container-tickets">
  <div class="progress-tickets">
    <h3>In Progress</h3>
    <% @tickets.where(status: 'In progress').each do |ticket| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag(ticket.photo_url, class: "card-img-top") %>
        <div class="card-body">
          <p class="card-text">
            <%= ticket.title %>
            <%= ticket.user.first_name %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="review-tickets"></div>
  <div class="completed-tickets"></div>
</div>
